@import "footer", "form", "gridproducts";


.formulario {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 30px;
}

.formImg {
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 57, 173, 0.7);
    border-radius: 30%;
    background-color: #0039ad;
    cursor: pointer;
    animation: pulse 3s infinite;

    &:hover {
        animation: none;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(232, 76, 61, 0)
    }
}

//NOSOTROSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
.mainNosotros {
    background-color: rgba(255, 228, 196, 0.763);

    .img-fluid {
        max-width: 350px;
    }

    .imgInicios {
        width: 100%;
        height: 100%;
        max-width: 400px;
    }

    .card-img-top {
        width: 100%;
        height: 100%;
    }

    div {
        justify-content: center;
    }

    .suscribe {
        margin-top: 15px;
        align-items: center;
        background: -webkit-gradient(linear, left top, right top, color-stop(55%, #a97d0f), to(#7c5e15));
        background: -webkit-linear-gradient(left, #a97d0f(197, 168, 24) 55%, #7c5e15);
        background: linear-gradient(90deg, #a97d0f 55%, #7c5e15);
        color: #fff;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: center;
        padding: 16px;
    }

    .textoPages {
        font-size: large;
    }
}

.inicios {
    display: flex;
    max-width: 90%;
    background-color: white;
    margin-top: 15px;
    border-radius: 0.5rem;

    img {
        border-radius: 0.5rem 0 0 0.5rem;
        max-width: 500px;
        max-height: 500px;
    }

    .textInicios {
        align-self: center;
    }
}

.tuchoLunch {
    display: flex;
    max-width: 90%;
    flex-direction: column;
    background-color: white;
    margin-top: 15px;
    border-radius: 0.5rem;

    .contenidoTucho {
        display: flex;
    }

    .textTucho {
        align-self: center;
    }

    img {
        border-radius: 0.5rem 0 0 0;
    }

    .perfil-card {
        display: flex;

        div {
            display: flex;
        }

        .whatsapp {
            margin-right: 20px;
        }
    }

}

@media (max-width: 879px) {
    .inicios {
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
        }

        .imgInicios {
            width: 100%;
            display: flex;
        }
    }

    .contenidoTucho {
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
        }

        .imgInicios {
            width: 100%;
            display: flex;
        }

        .img-perfil-card img {
            max-height: 30px;
        }
    }

    @media (max-width: 450px) {
        .perfil-card {
            flex-direction: column;
        }
    }

}

//PRODUCTOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
.breadcrumb {
    padding-left: 30px;
    padding-top: 15px;
}

//CONTACTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
.mainContacto {
    background-color: #ffffff;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .suscribe {
        align-items: center;
        background: -webkit-gradient(linear, left top, right top, color-stop(55%, #3acb60), to(#34b456));
        background: -webkit-linear-gradient(left, #3acb60 55%, #34b456);
        background: linear-gradient(90deg, #3acb60 55%, #34b456);
        color: #fff;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 16px;
        margin-top: 15px;
        justify-content: center;
        border-radius: 1rem;
    }

    .horarios {
        display: grid;
        align-items: center;
        grid-template-areas:
            "diasL horasL"
            "diasN horasN";

        .diasL {
            grid-area: diasL;
        }

        .horasL {
            grid-area: horasL;
            color: #34b456;
            padding-left: 15px;
            font-size: xx-large;
        }

        .diasN {
            grid-area: diasN;
        }

        .horasN {
            grid-area: horasN;
            color: #34b456;
            padding-left: 15px;
            font-size: xx-large;
        }
    }


    .contacto-wrap {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }

    .header-card-contacto img {
        border-radius: 8px 8px 0 0;
        max-height: 400px;
        height: 100%;
        width: 100%;
    }

    article.contacto {
        max-width: 350px;
        background-color: #f8f8f8;
        border-radius: 8px;
        margin: 1rem;
        box-shadow: 0 0 12px #d7d7d7;
    }

    .contacto-perfil-card {
        display: flex;
        flex-flow: column;
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: large;
        align-items: ce;

        h5 {
            padding-top: 10px;
        }

        span:nth-child(1) {
            color: #575757;
        }
    }
}

//INICIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
.mainInicio {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 15px;

    h1 {
        font-weight: bold;
        padding: 15px;
    }

    h2 {
        font-weight: bold;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    article.card {
        &:hover {
            transition: all 0.2s ease-out;
            box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
            top: -4px;
            border: 1px solid #cccccc;
            background-color: white;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -16px;
            right: -16px;
            background: $frutas;
            height: 20px;
            width: 20px;
            border-radius: 32px;
            transform: scale(2);
            transform-origin: 50% 50%;
            transition: transform 0.15s ease-out;
        }

        &:hover:before {
            transform: scale(2.15);
        }
    }

    .card footer {
        padding: 0 1rem;

        .texto-card {
            min-height: 120px;
            max-width: 165px;

            div {
                display: flex;
                align-items: center;

                p {
                    padding-right: 10px;
                }

                .rebaja {
                    color: red;
                    font-size: 20px;
                }

                .actual {
                    color: gray;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.suscribe {
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #300fa9), to(#0c1a51));
    background: -webkit-linear-gradient(left, #0f5ca9 55%, #0c1a51);
    background: linear-gradient(90deg, #0f83a9 55%, #0c1a51);
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px;
}


@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.822) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 10px;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 150px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 150px;
        width: 150px;
        margin-left: 15px;
    }
}

.textoPages {
    padding: 0 10px 0 10px;
}

.location {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h2 {
        margin-top: 10px;
    }
}