.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #fff;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footerContent h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footerContent p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 15px;
  color: #cacdd2;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 1.5px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footerMenu {
  justify-content: center;
  display: flex;
  width: 100%;
}
.footerMenu ul {
  display: flex;
}
.footerMenu ul li {
  padding-right: 10px;
  display: block;
}
.footerMenu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footerMenu ul li a:hover {
  color: #27bcda;
}

.form {
  display: grid;
  grid-row-gap: 5px;
  background-color: #35be5a;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  padding: 25px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .form {
    grid-column-gap: 25px;
    grid-template-areas: "label-name label-name" "field-name field-name" "label-email label-email" "field-email field-email" "label-msg  label-msg" "field-msg  field-msg" "button     button";
  }
}
@media (min-width: 401px) {
  .form {
    grid-column-gap: 25px;
    grid-template-areas: "label-name label-email" "field-name field-email" "label-msg  ." "field-msg  field-msg" "button     .";
  }
}
.label-name {
  grid-area: label-name;
  color: white;
  font-weight: bold;
}

.label-email {
  grid-area: label-email;
  color: white;
  font-weight: bold;
}

.label-message {
  grid-area: label-msg;
  color: white;
  font-weight: bold;
}

.field-name {
  grid-area: field-name;
  width: 100%;
}

.field-email {
  grid-area: field-email;
  width: 100%;
}

.field-message {
  grid-area: field-msg;
  width: 100%;
}

.button {
  grid-area: button;
}

.field {
  border: 1px solid #35be5a;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.5rem;
}

.contForm {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 30px) {
  .label-email {
    margin-top: 20px;
  }
}
.label-message {
  margin-top: 20px;
}

.button {
  appearance: none;
  color: white;
  font-weight: bold;
  background-color: #237f3c;
  border-radius: 0.2rem 0.4rem;
  border: none;
  font-size: 0.94rem;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
}

.bodyproduct img {
  max-width: 100%;
}

article.card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 350px;
  background-color: #f2f4f9;
  border-radius: 6px;
  padding: 15px 10px;
  margin: 1rem;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
article.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}
article.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #3570be;
  height: 20px;
  width: 20px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
article.card:hover:before {
  transform: scale(2.15);
}

.header-card img {
  border-radius: 8px 8px 8px 8px;
  max-height: 200px;
  height: 200px;
  width: 100%;
}

.categoria-card {
  margin-top: 1rem;
}
.categoria-card span {
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
.categoria-card .fruta {
  background-color: red;
}
.categoria-card .listos {
  background-color: rgb(255, 153, 0);
}
.categoria-card .carnes {
  background-color: rgb(221, 128, 144);
}
.categoria-card .verduras {
  background-color: rgb(114, 191, 83);
}
.categoria-card .trabajando {
  background-color: gray;
}
.categoria-card .almacen {
  background-color: rgb(207, 127, 7);
}

.filtros {
  margin-top: 15px;
  padding-left: 10px;
  display: flex;
}
.filtros h2 {
  margin-right: 15px;
}
.filtros .btn-primary {
  background-color: red;
}

.card footer {
  padding: 0 1rem;
}
.card footer .texto-card {
  min-height: 120px;
}
.card footer .texto-card .actual {
  font-weight: bold;
  font-size: 20px;
  color: #3570be;
}
.card footer .texto-card .rebaja {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.perfil-card {
  display: flex;
  align-items: center;
}

.img-perfil-card {
  display: flex;
}
.img-perfil-card img {
  width: 35px;
  margin: 1rem 1rem 1rem 0;
  border-radius: 50%;
}

.text-perfil-card {
  display: flex;
  flex-flow: column;
}
.text-perfil-card span:nth-child(1) {
  color: #575757;
}

.card-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.botonCompra {
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
}

.gradientProducts {
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #300fa9), to(#0c1a51));
  background: -webkit-linear-gradient(left, #3570be 55%, #0c1a51);
  background: linear-gradient(90deg, #3570be 55%, #0c1a51);
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: center;
  padding: 16px;
  margin-top: 15px;
}

.carrito {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  right: 30px;
}

.carritoImg {
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  animation: pulse 3s infinite;
}
.carritoImg:hover {
  animation: none;
}

@media (max-width: 321px) {
  article.card {
    max-width: 150px;
    margin: 5px;
    padding: 5px;
  }
  .header-card img {
    height: 150px;
  }
  .card footer {
    padding: 0 10px;
  }
  .card footer .perfil-card {
    display: none;
  }
  .formulario {
    display: none;
  }
  .carrito {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 30px;
  }
}
.formulario {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  right: 30px;
}

.formImg {
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 57, 173, 0.7);
  border-radius: 30%;
  background-color: #0039ad;
  cursor: pointer;
  animation: pulse 3s infinite;
}
.formImg:hover {
  animation: none;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}
.mainNosotros {
  background-color: rgba(255, 228, 196, 0.763);
}
.mainNosotros .img-fluid {
  max-width: 350px;
}
.mainNosotros .imgInicios {
  width: 100%;
  height: 100%;
  max-width: 400px;
}
.mainNosotros .card-img-top {
  width: 100%;
  height: 100%;
}
.mainNosotros div {
  justify-content: center;
}
.mainNosotros .suscribe {
  margin-top: 15px;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #a97d0f), to(#7c5e15));
  background: -webkit-linear-gradient(left, #a97d0f 197, 168, 24 55%, #7c5e15);
  background: linear-gradient(90deg, #a97d0f 55%, #7c5e15);
  color: #fff;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: center;
  padding: 16px;
}
.mainNosotros .textoPages {
  font-size: large;
}

.inicios {
  display: flex;
  max-width: 90%;
  background-color: white;
  margin-top: 15px;
  border-radius: 0.5rem;
}
.inicios img {
  border-radius: 0.5rem 0 0 0.5rem;
  max-width: 500px;
  max-height: 500px;
}
.inicios .textInicios {
  align-self: center;
}

.tuchoLunch {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  border-radius: 0.5rem;
}
.tuchoLunch .contenidoTucho {
  display: flex;
}
.tuchoLunch .textTucho {
  align-self: center;
}
.tuchoLunch img {
  border-radius: 0.5rem 0 0 0;
}
.tuchoLunch .perfil-card {
  display: flex;
}
.tuchoLunch .perfil-card div {
  display: flex;
}
.tuchoLunch .perfil-card .whatsapp {
  margin-right: 20px;
}

@media (max-width: 879px) {
  .inicios {
    flex-direction: column;
    align-items: center;
  }
  .inicios img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }
  .inicios .imgInicios {
    width: 100%;
    display: flex;
  }
  .contenidoTucho {
    flex-direction: column;
    align-items: center;
  }
  .contenidoTucho img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }
  .contenidoTucho .imgInicios {
    width: 100%;
    display: flex;
  }
  .contenidoTucho .img-perfil-card img {
    max-height: 30px;
  }
}
@media (max-width: 879px) and (max-width: 450px) {
  .perfil-card {
    flex-direction: column;
  }
}
.breadcrumb {
  padding-left: 30px;
  padding-top: 15px;
}

.mainContacto {
  background-color: #ffffff;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContacto .suscribe {
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #3acb60), to(#34b456));
  background: -webkit-linear-gradient(left, #3acb60 55%, #34b456);
  background: linear-gradient(90deg, #3acb60 55%, #34b456);
  color: #fff;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px;
  margin-top: 15px;
  justify-content: center;
  border-radius: 1rem;
}
.mainContacto .horarios {
  display: grid;
  align-items: center;
  grid-template-areas: "diasL horasL" "diasN horasN";
}
.mainContacto .horarios .diasL {
  grid-area: diasL;
}
.mainContacto .horarios .horasL {
  grid-area: horasL;
  color: #34b456;
  padding-left: 15px;
  font-size: xx-large;
}
.mainContacto .horarios .diasN {
  grid-area: diasN;
}
.mainContacto .horarios .horasN {
  grid-area: horasN;
  color: #34b456;
  padding-left: 15px;
  font-size: xx-large;
}
.mainContacto .contacto-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.mainContacto .header-card-contacto img {
  border-radius: 8px 8px 0 0;
  max-height: 400px;
  height: 100%;
  width: 100%;
}
.mainContacto article.contacto {
  max-width: 350px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 0 12px #d7d7d7;
}
.mainContacto .contacto-perfil-card {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: large;
  align-items: ce;
}
.mainContacto .contacto-perfil-card h5 {
  padding-top: 10px;
}
.mainContacto .contacto-perfil-card span:nth-child(1) {
  color: #575757;
}

.mainInicio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-bottom: 15px;
}
.mainInicio h1 {
  font-weight: bold;
  padding: 15px;
}
.mainInicio h2 {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}
.mainInicio article.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}
.mainInicio article.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: red;
  height: 20px;
  width: 20px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
.mainInicio article.card:hover:before {
  transform: scale(2.15);
}
.mainInicio .card footer {
  padding: 0 1rem;
}
.mainInicio .card footer .texto-card {
  min-height: 120px;
  max-width: 165px;
}
.mainInicio .card footer .texto-card div {
  display: flex;
  align-items: center;
}
.mainInicio .card footer .texto-card div p {
  padding-right: 10px;
}
.mainInicio .card footer .texto-card div .rebaja {
  color: red;
  font-size: 20px;
}
.mainInicio .card footer .texto-card div .actual {
  color: gray;
  text-decoration: line-through;
}

.suscribe {
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #300fa9), to(#0c1a51));
  background: -webkit-linear-gradient(left, #0f5ca9 55%, #0c1a51);
  background: linear-gradient(90deg, #0f83a9 55%, #0c1a51);
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.822) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 150px;
  width: 150px;
  margin-left: 15px;
}

.textoPages {
  padding: 0 10px 0 10px;
}

.location {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.location h2 {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
