@import "footer", "form", "gridproducts";


.formulario {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 30px;
}

.formImg {
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 57, 173, 0.7);
    border-radius: 30%;
    background-color: #0039ad;
    cursor: pointer;
    animation: pulse 3s infinite;

    &:hover {
        animation: none;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(232, 76, 61, 0)
    }
}

//NOSOTROSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
.mainNosotros {
    background-color: #c8dbf4;

    div {
        justify-content: center;
    }
}

//PRODUCTOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
.breadcrumb {
    padding-left: 30px;
    padding-top: 15px;
}

//CONTACTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
.mainContacto {
    background-color: #dfdfdf;
    justify-items: center;

    .contacto-wrap {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }

    .header-card-contacto img {
        border-radius: 8px 8px 0 0;
        max-height: 400px;
        height: 100%;
        width: 100%;
    }

    article.contacto {
        max-width: 350px;
        background-color: #f8f8f8;
        border-radius: 8px;
        margin: 1rem;
        box-shadow: 0 0 12px #d7d7d7;
    }

    .contacto-perfil-card {
        display: flex;
        flex-flow: column;
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: large;

        h5 {
            padding-top: 10px;
        }

        span:nth-child(1) {
            color: #575757;
        }
    }
}

//INICIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
.mainInicio {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 15px;

    h1 {
        font-weight: bold;
        padding: 15px;
    }

    h2 {
        font-weight: bold;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

.suscribe {
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #300fa9), to(#0c1a51));
    background: -webkit-linear-gradient(left, #0f5ca9 55%, #0c1a51);
    background: linear-gradient(90deg, #0f83a9 55%, #0c1a51);
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px;
}


@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.822) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 10px;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 150px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 150px;
        width: 150px;
        margin-left: 15px;
    }
}

.textoPages {
    padding: 0 10px 0 10px;
}